{"openapi":"3.0.0","info":{"title":"REST","version":"1"},"servers":[{"url":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/{workspaceId}/v1","variables":{"workspaceId":{"default":"workspaceId"},"version":{"default":"version"}}}],"paths":{"/aql/objects":{"get":{"deprecated":true,"responses":{"200":{"description":"A object result set that can be used to paginate through the result list of objects","content":{"application/json":{"example":{"results":{"objectEntries":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:88","id":"88","label":"SYD-1","objectKey":"ITSM-88","avatar":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=288","objectId":"88","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:23","id":"23","name":"Office","displayName":"Office","description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ex.","icon":{"id":"13","name":"Building","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=48"},"position":2,"created":"2021-02-16T19:36:51.951Z","updated":"2021-04-16T15:17:03.384Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:41.527Z","updated":"2021-02-16T20:04:41.527Z","hasAvatar":false,"timestamp":1613505881527,"attributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:637","id":"637","objectTypeAttributeId":"134","objectAttributeValues":[{"value":"ITSM-88","displayValue":"ITSM-88","searchValue":"ITSM-88","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:640","id":"640","objectTypeAttributeId":"135","objectAttributeValues":[{"value":"SYD-1","displayValue":"SYD-1","searchValue":"SYD-1","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:638","id":"638","objectTypeAttributeId":"136","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:639","id":"639","objectTypeAttributeId":"137","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:641","id":"641","objectTypeAttributeId":"144","objectAttributeValues":[{"referencedObject":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:87","id":"87","label":"Sydney","objectKey":"ITSM-87","avatar":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=288","objectId":"87","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","displayName":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:26.445Z","updated":"2021-02-16T20:04:26.445Z","hasAvatar":false,"timestamp":1613505866445,"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/87"},"name":"Sydney"},"displayValue":"Sydney","searchValue":"ITSM-87","referencedType":true}],"objectId":"88"}],"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/88"},"name":"SYD-1"}],"objectTypeAttributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:134","id":"134","name":"Key","displayName":"Key","label":false,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:135","id":"135","name":"Name","displayName":"Name","label":true,"description":"The name of the object","defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"suffix":"","removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":true,"regexValidation":"","options":"","position":1},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:136","id":"136","name":"Created","displayName":"Created","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":2},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:137","id":"137","name":"Updated","displayName":"Updated","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":3},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:144","id":"144","name":"City","displayName":"Office location","label":false,"referenceType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:4","id":"4","name":"Reference","displayName":"Reference","description":"Reference","color":"49a6ed","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/config/referencetype/4/image.png?size=16"},"referenceObjectTypeId":"24","referenceObjectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":4},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:265","id":"265","name":"Placeholder","displayName":"Additional information","label":false,"defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":5}],"objectTypeIsInherited":false,"abstractObjectType":false,"totalFilterCount":1,"startIndex":1,"toIndex":1,"pageObjectSize":25,"pageNumber":1,"orderWay":"ascending","qlQuery":"objectType = Office AND Name LIKE SYD","qlQuerySearchResult":true,"conversionPossible":false,"pageSize":1},"attributes parameter to false":{"objectEntries":[{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:88","id":"88","label":"SYD-1","objectKey":"ITSM-88","avatar":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=288","objectId":"88","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:23","id":"23","name":"Office","displayName":"Office","description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ex.","icon":{"id":"13","name":"Building","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=48"},"position":2,"created":"2021-02-16T19:36:51.951Z","updated":"2021-04-16T15:17:03.384Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:41.527Z","updated":"2021-02-16T20:04:41.527Z","hasAvatar":false,"timestamp":1613505881527,"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/88"},"name":"SYD-1"}],"objectTypeAttributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:134","id":"134","name":"Key","displayName":"Key","label":false,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:135","id":"135","name":"Name","displayName":"Name","label":true,"description":"The name of the object","defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"suffix":"","removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":true,"regexValidation":"","options":"","position":1},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:136","id":"136","name":"Created","displayName":"Created","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":2},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:137","id":"137","name":"Updated","displayName":"Updated","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":3},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:144","id":"144","name":"City","displayName":"Office location","label":false,"referenceType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:4","id":"4","name":"Reference","displayName":"Reference","description":"Reference","color":"49a6ed","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/config/referencetype/4/image.png?size=16"},"referenceObjectTypeId":"24","referenceObjectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":4},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:265","id":"265","name":"Placeholder","displayName":"Additional information","label":false,"defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":5}],"objectTypeIsInherited":false,"abstractObjectType":false,"totalFilterCount":1,"startIndex":1,"toIndex":1,"pageObjectSize":25,"pageNumber":1,"orderWay":"ascending","qlQuery":"objectType = Office AND Name LIKE SYD","qlQuerySearchResult":true,"conversionPossible":false,"pageSize":1},"no results":{"objectEntries":[],"objectTypeAttributes":[],"objectTypeIsInherited":false,"abstractObjectType":false,"totalFilterCount":0,"startIndex":1,"toIndex":0,"pageObjectSize":25,"pageNumber":1,"orderWay":"ascending","qlQuery":"objectType = Office AND Name LIKE NY","qlQuerySearchResult":true,"conversionPossible":false,"pageSize":0}},"schema":{"$ref":"#/components/schemas/ObjectListResult"}}}},"400":{"$ref":"#/components/responses/trait_badRequest_400"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"429":{"$ref":"#/components/responses/trait_rateLimit500PerMinute_429"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"This endpoint is deprecated and will be removed on <b>18th of September 2024</b>. Please use POST `/object/aql` instead. Find objects based on Assets Query Language (AQL)","security":[{"connectJWT":[]}],"operationId":"AQL - Find objects","x-atlassian-data-security-policy":[{"app-access-rule-exempt":false}],"parameters":[{"name":"qlQuery","in":"query","description":"The query to determine which objects that should be fetched. E.g. objectType = \"Computer\". The empty AQL means all objects","schema":{"default":"","type":"string"}},{"name":"page","in":"query","description":"Which page to fetch when paginating through the response","schema":{"default":1,"type":"integer"}},{"name":"resultPerPage","in":"query","description":"The amount of objects returned per page","schema":{"default":25,"type":"integer"}},{"name":"includeAttributes","in":"query","description":"Should the objects attributes be included in the response. If this parameter is false only the information on the object will be returned and the object attributes will not be present","schema":{"default":true,"type":"boolean"}},{"name":"includeAttributesDeep","in":"query","description":"How many levels of attributes should be included. E.g. consider an object A that has a reference to object B that has a reference to object C. If object A is included in the response and includeAttributesDeep=1 object A's reference to object B will be included in the attributes of object A but object B's reference to object C will not be included. However if the includeAttributesDeep=2 then object B's reference to object C will be included in object B's attributes","schema":{"default":1,"type":"integer"}},{"name":"includeTypeAttributes","in":"query","description":"Should the response include the object type attribute definition for each attribute that is returned with the objects","schema":{"default":false,"type":"boolean"}},{"name":"includeExtendedInfo","in":"query","description":"Include information about open Jira issues. Should each object have information if open tickets are connected to the object?","schema":{"default":false,"type":"boolean"}}]}},"/icon/{id}":{"get":{"responses":{"200":{"description":"An icon","content":{"application/json":{"example":{"id":"68","name":"Mac OS","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/68/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/68/icon.png?size=48"},"schema":{"$ref":"#/components/schemas/Icon"}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Load a single icon by id","security":[{"oAuthDefinitions":["read:cmdb-icon:jira"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["read:cmdb-icon:jira"]}],"operationId":"Icon - Find","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}}]},"/icon/{id}/icon.png":{"get":{"responses":{"200":{"description":"The PNG image of the icon specified by id","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"406":{"$ref":"#/components/responses/trait_notAcceptable_406"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Load a single icon PNG by id","security":[{"oAuthDefinitions":["read:cmdb-icon:jira"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["read:cmdb-icon:jira"]}],"operationId":"Icon - Load Image","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"name":"size","in":"query","required":false,"schema":{"type":"integer"}}]},"/icon/global":{"get":{"responses":{"200":{"description":"All existing global icons","content":{"application/json":{"schema":{"example":{"Icons":[{"id":"68","name":"Mac OS","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/68/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/68/icon.png?size=48"},{"id":"69","name":"Marker","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/69/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/69/icon.png?size=48"},{"id":"70","name":"Master","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/70/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/70/icon.png?size=48"},{"id":"71","name":"Memory Slot","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/71/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/71/icon.png?size=48"},{"id":"72","name":"Mic","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/icon/72/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/icon/72/icon.png?size=48"}],"No icons found":[]},"type":"array","items":{"$ref":"#/components/schemas/Icon"}}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Return all global icons i.e. icons not associated with a particular object schema","security":[{"oAuthDefinitions":["read:cmdb-icon:jira"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["read:cmdb-icon:jira"]}],"operationId":"Icon - Find global icons","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}]}},"/import/start/{id}":{"post":{"responses":{"200":{"description":"","content":{"application/json":{"example":{"progressInPercent":0,"resourceId":"9fa74b56-d540-4494-b9b2-f27a9bad9e6a","category":"imports","status":"IN_PROGRESS","stepDescription":"Placeholder","currentStep":1,"numberOfSteps":6,"currentWorkUnits":0,"currentWorkDescription":"rlabs-import-type-csvimport started...","currentStepTotalWorkUnits":0,"totalWorkUnits":0,"actor":"6g2c42d1f6fgd2112cgc66dc","startDate":"2021-04-20T13:57:52.404Z","executionUUID":"b36ebb89-4a75-4df3-9101-f40d2771db32"},"schema":{"$ref":"#/components/schemas/Progress"}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Start configured imports. To see an ongoing import see the Progress resource","operationId":"Import - Start","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The id of the import configuration that should be started"}]},"/importsource/{id}":{"get":{"summary":"Get import source by ID","description":"Retrieves a specific import source configuration by its ID. If scheduled imports are enabled, the response includes scheduling information.","operationId":"getImportSource","responses":{"200":{"description":"Import source found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSourceResponse"},"example":{"id":"b9f5f167-a7e1-4b3a-9e4f-2c3d4e5f6a7c","collectionId":"c7d8e9f0-1234-5678-9abc-def012345678","name":"Daily Server Import","created":"2024-01-10T10:30:00Z","updated":"2024-01-12T14:45:00Z","description":"Automated import of server data","objectSchemaId":"c7d8e9f0-1234-5678-9abc-def012345678","importSourceModuleKey":"rlabs-import-type-csv","defaultConcatenator":",","defaultHandleEmptyValues":"IGNORE","defaultHandleUnknownValues":"IGNORE","dateFormat":"yyyy-MM-dd","dateTimeFormat":"yyyy-MM-dd'T'HH:mm:ss'Z'","importSpecificConfiguration":"{}","tokenGenerated":true,"isImportSourceSchedulingEnabled":true,"scheduledImportDetails":{"importScheduleId":"a8f5f167-a7e1-4b3a-9e4f-2c3d4e5f6a7b","startTime":"2024-01-15T02:00:00Z","runFrequency":"DAILY","nextScheduledTime":"2024-01-16T02:00:00Z","createdAt":"2024-01-10T10:30:00Z"}}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"403":{"$ref":"#/components/responses/trait_requirePermission_403"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}],"x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid"},"description":"The unique identifier of the import source"}]},"/importsource/{importSourceId}/mapping":{"put":{"responses":{"204":{"description":""},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"409":{"description":"A mapping already exists for this import"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Provide object schema and mapping configuration for the external import","operationId":"Submit schema and mapping configuration","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSchemaAndMapping"},"example":{"schema":{"objectSchema":{"name":"Disk Analysis Tool","description":"Data imported from The Disk Analysis Tool","objectTypes":[{"externalId":"object-type/hard-drive","name":"Hard Drive","displayName":"Storage device","description":"A hard drive found during scanning","attributes":[{"externalId":"object-type-attribute/duid","name":"DUID","displayName":"DUID","description":"Device Unique Identifier","type":"text","label":true,"minimumCardinality":1,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/disk-label","name":"Disk Label","displayName":"Disk Label","description":"Hard drive label","type":"text","minimumCardinality":1,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/status","name":"HardDriveStatus","displayName":"HardDriveStatus","description":"The hard drive status","type":"status","typeValues":["Schema Scope Status","Global Scope Status","New Status"]}],"children":[{"externalId":"object-type/file","name":"File","displayName":"File","description":"A file present in a hard drive","attributes":[{"externalId":"object-type-attribute/path","name":"Path","displayName":"Path","description":"Path of the file","type":"text","label":true,"minimumCardinality":1,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/size","name":"Size","displayName":"Size","description":"Size of the file","type":"integer","minimumCardinality":1,"maximumCardinality":1,"unique":false}]}]}]},"statusSchema":{"statuses":[{"name":"New Status","displayName":"New Status","description":"","category":"active"}]}},"mapping":{"objectTypeMappings":[{"objectTypeExternalId":"object-type/hard-drive","objectTypeName":"Hard Drive","selector":"hardDrives","description":"Mapping for Hard Drives","attributesMapping":[{"attributeExternalId":"object-type-attribute/duid","attributeName":"DUID","attributeLocators":["id"],"externalIdPart":true},{"attributeExternalId":"object-type-attribute/disk-label","attributeName":"Disk Label","attributeLocators":["label"]},{"attributeExternalId":"object-type-attribute/status","attributeName":"HardDriveStatus","attributeLocators":["status"]}]},{"objectTypeExternalId":"object-type/file","objectTypeName":"File","selector":"hardDrives.files","description":"Maps files found in hard drives","attributesMapping":[{"attributeExternalId":"object-type-attribute/path","attributeName":"Path","attributeLocators":["path"],"externalIdPart":true},{"attributeExternalId":"object-type-attribute/size","attributeName":"Size","attributeLocators":["size"]}]}]}}}},"required":true},"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"patch":{"responses":{"204":{"description":""},"303":{"description":"A 303 response will be returned when the operation is executed asynchronously. A Location header will point to an endpoint to be polled for progress updates"},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Update object schema and mapping configuration for the external import","operationId":"Update schema and mapping configuration","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSchemaAndMapping"},"example":{"$schema":"https://api.stg.atlassian.com/jsm/assets/imports/external/schema/versions/2021_09_15","schema":{"objectSchema":{"name":"Disk Analysis Tool","description":"Data imported from The Disk Analysis Tool","objectTypes":[{"externalId":"object-type/hard-drive","name":"Hard Drive","displayName":"Storage device","description":"A hard drive found during scanning","attributes":[{"externalId":"object-type-attribute/manufacturer","name":"Manufacturer","displayName":"Manufacturer","description":"Manufacturer name","type":"text"}],"children":[{"externalId":"object-type/folder","name":"Folder","displayName":"Folder","description":"A folder present in a hard drive","attributes":[{"externalId":"object-type-attribute/folder-name","name":"Name","displayName":"Name","description":"Folder name","type":"text","label":true}]},{"externalId":"object-type/file","name":"File","displayName":"File","description":"A file present in a hard drive","attributes":[{"externalId":"object-type-attribute/path","name":"Path","displayName":"Path","description":"Updated description for the path attribute","type":"text","label":true}]}]}]}},"mapping":{"objectTypeMappings":[{"objectTypeExternalId":"object-type/hard-drive","objectTypeName":"Hard Drive","selector":"hardDrives","description":"Mapping for Hard Drives","attributesMapping":[{"attributeExternalId":"object-type-attribute/duid","attributeName":"DUID","attributeLocators":["id"],"externalIdPart":true},{"attributeExternalId":"object-type-attribute/disk-label","attributeName":"Disk Label","attributeLocators":["label"]},{"attributeExternalId":"object-type-attribute/manufacturer","attributeName":"Manufacturer","attributeLocators":["manufacturer"]}]},{"objectTypeExternalId":"object-type/folder","objectTypeName":"Folder","selector":"hardDrives.folders","description":"Mapping for Folder","attributesMapping":[{"attributeExternalId":"object-type-attribute/folder-name","attributeName":"Name","attributeLocators":["name"],"externalIdPart":true}]}]}}}}},"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The uuid of the import source configuration for the external import"},{"name":"async","in":"query","required":false,"schema":{"type":"boolean"},"description":"Execute the operation asynchronously"}]},"/importsource/{importSourceId}/mapping/progress/{resourceId}":{"get":{"responses":{"200":{"description":"The progress of an asynchronous schema and mapping operation. When present, `importSource` contains the display-name fields documented by `ImportSourceResponse`.","content":{"application/json":{"example":{"progressStatus":"FINISHED","result":"OK","resultMessage":"Schema and mapping successfully created"}}}},"400":{"description":"Bad request"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Get the progress of an asynchronous schema and mapping operation","operationId":"Get the progress of an asynchronous schema and mapping operation","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"},{"name":"resourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The resourceId references the running schema and mapping operation"}]},"/importsource/{importSourceId}/configstatus":{"get":{"responses":{"200":{"description":"Returns the status of the import configuration, can be one of: IDLE, DISABLED, MISSING_MAPPING, RUNNING","content":{"application/json":{"example":{"status":"IDLE"}}}},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Get the current status of the import configuration","operationId":"Status of Import configuration","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/schema-and-mapping":{"get":{"responses":{"200":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImportSchemaAndMapping"},"example":{"schema":{"objectSchema":{"name":"docs","description":"","objectTypes":[{"externalId":"object-type/hard-drive","name":"Hard Drive","displayName":"Storage device","description":"A hard drive found during scanning","attributes":[{"name":"Key","displayName":"Key","description":"","type":"text","label":false,"minimumCardinality":1,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/duid","name":"DUID","displayName":"DUID","description":"Device Unique Identifier","type":"text","label":true,"minimumCardinality":1,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/disk-label","name":"Disk Label","displayName":"Disk Label","description":"Hard drive label","type":"text","label":false,"minimumCardinality":0,"maximumCardinality":1,"unique":false}],"children":[{"externalId":"object-type/file","name":"File","displayName":"File","description":"A file present in a hard drive","attributes":[{"name":"Key","displayName":"Key","description":"","type":"text","label":false,"minimumCardinality":1,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/size","name":"Size","displayName":"Size","description":"Size of the file","type":"integer","label":false,"minimumCardinality":0,"maximumCardinality":1,"unique":false},{"externalId":"object-type-attribute/path","name":"Path","displayName":"Path","description":"Path of the file","type":"text","label":true,"minimumCardinality":1,"maximumCardinality":1,"unique":false}]}]}]}},"mapping":{"objectTypeMappings":[{"objectTypeExternalId":"object-type/hard-drive","objectTypeName":"Hard Drive","selector":"hardDrives","description":"Mapping for Hard Drives","attributesMapping":[{"attributeExternalId":"object-type-attribute/duid","attributeName":"DUID","attributeLocators":["id"],"externalIdPart":true},{"attributeExternalId":"object-type-attribute/disk-label","attributeName":"Disk Label","attributeLocators":["label"],"externalIdPart":false}]},{"objectTypeExternalId":"object-type/file","objectTypeName":"File","selector":"hardDrives.files","description":"Maps files found in hard drives","attributesMapping":[{"attributeExternalId":"object-type-attribute/path","attributeName":"Path","attributeLocators":["path"],"externalIdPart":true},{"attributeExternalId":"object-type-attribute/size","attributeName":"Size","attributeLocators":["size"],"externalIdPart":false}]}]}}}}},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Get the current schema and mapping of the import configuration","operationId":"Get schema and mapping of Import configuration","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration. For use with external imports only"}]},"/importsource/{importSourceId}/executions":{"post":{"responses":{"200":{"description":"","content":{"application/json":{"example":{"links":{"submitProgress":"https://api.atlassian.com/jsm/insight/workspace/fd8d86e0-3401-40bd-adb4-bb50b8e39288/v1/importsource/4d4095c3-cb7c-4d59-9b75-a381ea4b1975/executions/07a58b26-e93a-49c6-9381-1fe235943018/progress","submitResults":"https://api.atlassian.com/jsm/insight/workspace/fd8d86e0-3401-40bd-adb4-bb50b8e39288/v1/importsource/4d4095c3-cb7c-4d59-9b75-a381ea4b1975/executions/07a58b26-e93a-49c6-9381-1fe235943018/data","getExecutionStatus":"https://api.atlassian.com/jsm/insight/workspace/fd8d86e0-3401-40bd-adb4-bb50b8e39288/v1/importsource/4d4095c3-cb7c-4d59-9b75-a381ea4b1975/executions/07a58b26-e93a-49c6-9381-1fe235943018/status","cancel":"https://api.atlassian.com/jsm/insight/workspace/fd8d86e0-3401-40bd-adb4-bb50b8e39288/v1/importsource/4d4095c3-cb7c-4d59-9b75-a381ea4b1975/executions/07a58b26-e93a-49c6-9381-1fe235943018"},"result":"success"}}}},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"409":{"description":"Action conflicts with status of import for one of the MISSING_MAPPING, DISABLED, INVALID_IMPORT_MODULE_KEY or IN_PROGRESS reasons","content":{"application/json":{"example":{"result":"error","errorCode":"MISSING_MAPPING"}}}},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Move to the data ingestion steps of external imports","operationId":"Start data ingestion","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/executions/{importExecutionId}":{"delete":{"responses":{"200":{"description":""},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Cancel current on-going import","operationId":"Cancel Import","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importExecutionId","in":"path","required":true,"schema":{"type":"string"},"description":"The importExecutionId of the import"},{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/executions/{importExecutionId}/progress":{"put":{"responses":{"200":{"description":""},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Submit progress of ingesting data","operationId":"Submit progress","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"requestBody":{"content":{"application/json":{"example":{"steps":{"total":3,"current":2,"description":"Gathering data"},"objects":{"total":500,"processed":125}}}}},"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importExecutionId","in":"path","required":true,"schema":{"type":"string"},"description":"The importExecutionId of the import"},{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/executions/{importExecutionId}/data":{"post":{"responses":{"200":{"description":""},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Providing data to be ingested","operationId":"Submit data for ingestion","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"requestBody":{"content":{"application/json":{"example":{"data":{"hardDrives":[{"id":"Hard drive ID","label":"Hard drive label","files":[{"path":"/file/path","size":123456}]}]},"clientGeneratedId":"a-unique-id","completed":true}}}},"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importExecutionId","in":"path","required":true,"schema":{"type":"string"},"description":"The importExecutionId of the import"},{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/executions/{importExecutionId}/status":{"get":{"responses":{"200":{"description":"","content":{"application/json":{"example":{"status":"DONE","progressResult":{"type":"IMPORT","id":438,"started":"2023-06-15T12:13:03.952+00:00","ended":"2023-06-15T12:13:05.124+00:00","objectSchemaId":266,"result":"OK","status":"FINISHED","infoMessage":"No data to import","jobId":"241d9437-eb25-4008-a346-8daafbb91026","importSourceId":"3e9f17a6-61db-4bdd-a313-6dd38c81bfca","populatedObjectTypes":["Operating System","Hard Drive"],"onlyExecutedForObjectTypes":[],"objectTypeResultMap":{"2547":{"id":null,"objectTypeName":"Hard Drive","objectTypeId":2547,"objectsUpdated":0,"objectsCreated":1,"objectsIdentical":0,"objectsMissingUpdated":0,"objectsMissingDeleted":0,"entriesInSource":1,"duplicateEnries":0,"emptyLabelEntries":0,"emptyExternalIdEntries":0,"objectsFilteredWithQlQuery":0,"errorMessages":null,"readExternalDataTimeInMs":221,"mapExternalDataTimeInMs":0,"qlQueryFilteringTimeInMs":0,"decidingActionsTimeInMs":0,"writeInsightDataTimeInMs":154,"postFunctionTimeInMs":0,"executionTimeInMs":375,"objectsWithUpdatedReferences":1},"2548":{"id":null,"objectTypeName":"Operating System","objectTypeId":2548,"objectsUpdated":0,"objectsCreated":2,"objectsIdentical":0,"objectsMissingUpdated":0,"objectsMissingDeleted":0,"entriesInSource":2,"duplicateEnries":0,"emptyLabelEntries":0,"emptyExternalIdEntries":0,"objectsFilteredWithQlQuery":0,"errorMessages":null,"readExternalDataTimeInMs":220,"mapExternalDataTimeInMs":0,"qlQueryFilteringTimeInMs":0,"decidingActionsTimeInMs":0,"writeInsightDataTimeInMs":266,"postFunctionTimeInMs":0,"executionTimeInMs":486,"objectsWithUpdatedReferences":0}},"errorMessages":null,"totalNumberEntriesInImport":3}}}}},"400":{"description":""},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Get the status of the import","operationId":"Status of Import Execution","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importExecutionId","in":"path","required":true,"schema":{"type":"string"},"description":"The importExecutionId of the import"},{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/executions/status":{"get":{"responses":{"200":{"description":"","content":{"application/json":{"example":{"status":"DONE","progressResult":{"type":"IMPORT","id":438,"started":"2023-06-15T12:13:03.952+00:00","ended":"2023-06-15T12:13:05.124+00:00","objectSchemaId":266,"result":"OK","status":"FINISHED","infoMessage":"No data to import","jobId":"241d9437-eb25-4008-a346-8daafbb91026","importSourceId":"3e9f17a6-61db-4bdd-a313-6dd38c81bfca","populatedObjectTypes":["Operating System","Hard Drive"],"onlyExecutedForObjectTypes":[],"objectTypeResultMap":{"2547":{"id":null,"objectTypeName":"Hard Drive","objectTypeId":2547,"objectsUpdated":0,"objectsCreated":1,"objectsIdentical":0,"objectsMissingUpdated":0,"objectsMissingDeleted":0,"entriesInSource":1,"duplicateEnries":0,"emptyLabelEntries":0,"emptyExternalIdEntries":0,"objectsFilteredWithQlQuery":0,"errorMessages":null,"readExternalDataTimeInMs":221,"mapExternalDataTimeInMs":0,"qlQueryFilteringTimeInMs":0,"decidingActionsTimeInMs":0,"writeInsightDataTimeInMs":154,"postFunctionTimeInMs":0,"executionTimeInMs":375,"objectsWithUpdatedReferences":1},"2548":{"id":null,"objectTypeName":"Operating System","objectTypeId":2548,"objectsUpdated":0,"objectsCreated":2,"objectsIdentical":0,"objectsMissingUpdated":0,"objectsMissingDeleted":0,"entriesInSource":2,"duplicateEnries":0,"emptyLabelEntries":0,"emptyExternalIdEntries":0,"objectsFilteredWithQlQuery":0,"errorMessages":null,"readExternalDataTimeInMs":220,"mapExternalDataTimeInMs":0,"qlQueryFilteringTimeInMs":0,"decidingActionsTimeInMs":0,"writeInsightDataTimeInMs":266,"postFunctionTimeInMs":0,"executionTimeInMs":486,"objectsWithUpdatedReferences":0}},"errorMessages":null,"totalNumberEntriesInImport":3}}}}},"400":{"description":"Bad request"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Get the status of the most recently created import execution","operationId":"Status of most recently created Import Execution","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/importsource/{importSourceId}/executions/{executionId}/history/failed":{"post":{"responses":{"204":{"description":"Failed import history created successfully"},"400":{"$ref":"#/components/responses/trait_badRequest_400"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Creates a failed import history record for the specified import source and execution with the given failure reason","operationId":"Create failed import history","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"requestBody":{"content":{"application/json":{"example":{"failureReason":"Connection timeout while fetching data from external source"}}}},"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"},{"name":"executionId","in":"path","required":true,"schema":{"type":"string"},"description":"The executionId of the import execution"}]},"/importsource/{importSourceId}/token":{"post":{"responses":{"200":{"description":"Returns a Bearer token which can be used to authenticate against Assets `/importsource/` APIs, to take actions against the specified import source.","content":{"application/json":{"example":{"token":"ATCTT3xFfGN...XYZ"}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Generate a Bearer token which can be used to authenticate against Assets `/importsource/` APIs, to take actions against the specified import source.","operationId":"Generate Bearer token","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]}},"/importsource/{importSourceId}/schedule":{"get":{"responses":{"200":{"description":"Schedule links retrieved successfully","content":{"application/json":{"example":{"links":{"createSchedule":"https://api.atlassian.com/jsm/insight/workspace/fd8d86e0-3401-40bd-adb4-bb50b8e39288/v1/importsource/4d4095c3-cb7c-4d59-9b75-a381ea4b1975/importschedule","schedule":"https://api.atlassian.com/jsm/insight/workspace/fd8d86e0-3401-40bd-adb4-bb50b8e39288/v1/importsource/4d4095c3-cb7c-4d59-9b75-a381ea4b1975/importschedule/a1b2c3d4-e5f6-7890-abcd-ef1234567890"},"result":"success"},"schema":{"type":"object","properties":{"links":{"type":"object","properties":{"createSchedule":{"type":"string","description":"URL to POST to create a new schedule"},"schedule":{"type":"string","description":"URL to GET/PUT/DELETE an existing schedule. Only present if a schedule exists for this import source."}},"required":["createSchedule"]},"result":{"type":"string"}}}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"description":"Import source not found"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"security":[{"oAuthDefinitions":["import:import-configuration:cmdb"]},{"connectJWT":[]}],"description":"Retrieve links for import schedule operations (create, get, update, delete). Returns a createSchedule link to POST a new schedule, and if a schedule already exists, returns a schedule link that can be used with GET, PUT, or DELETE operations.","operationId":"Get import schedule links","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["import:import-configuration:cmdb"]}]},"parameters":[{"name":"importSourceId","in":"path","required":true,"schema":{"type":"string"},"description":"The importSourceId of the import source configuration for the external import"}]},"/iql/objects":{"get":{"deprecated":true,"responses":{"200":{"description":"A object result set that can be used to paginate through the result list of objects","content":{"application/json":{"example":{"results":{"objectEntries":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:88","id":"88","label":"SYD-1","objectKey":"ITSM-88","avatar":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=288","objectId":"88","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:23","id":"23","name":"Office","displayName":"Office","description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ex.","icon":{"id":"13","name":"Building","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=48"},"position":2,"created":"2021-02-16T19:36:51.951Z","updated":"2021-04-16T15:17:03.384Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:41.527Z","updated":"2021-02-16T20:04:41.527Z","hasAvatar":false,"timestamp":1613505881527,"attributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:637","id":"637","objectTypeAttributeId":"134","objectAttributeValues":[{"value":"ITSM-88","displayValue":"ITSM-88","searchValue":"ITSM-88","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:640","id":"640","objectTypeAttributeId":"135","objectAttributeValues":[{"value":"SYD-1","displayValue":"SYD-1","searchValue":"SYD-1","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:638","id":"638","objectTypeAttributeId":"136","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:639","id":"639","objectTypeAttributeId":"137","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:641","id":"641","objectTypeAttributeId":"144","objectAttributeValues":[{"referencedObject":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:87","id":"87","label":"Sydney","objectKey":"ITSM-87","avatar":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=288","objectId":"87","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","displayName":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:26.445Z","updated":"2021-02-16T20:04:26.445Z","hasAvatar":false,"timestamp":1613505866445,"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/87"},"name":"Sydney"},"displayValue":"Sydney","searchValue":"ITSM-87","referencedType":true}],"objectId":"88"}],"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/88"},"name":"SYD-1"}],"objectTypeAttributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:134","id":"134","name":"Key","displayName":"Key","label":false,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:135","id":"135","name":"Name","displayName":"Name","label":true,"description":"The name of the object","defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"suffix":"","removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":true,"regexValidation":"","options":"","position":1},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:136","id":"136","name":"Created","displayName":"Created","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":2},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:137","id":"137","name":"Updated","displayName":"Updated","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":3},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:144","id":"144","name":"City","displayName":"Office location","label":false,"referenceType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:4","id":"4","name":"Reference","displayName":"Reference","description":"Reference","color":"49a6ed","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/config/referencetype/4/image.png?size=16","removable":false},"referenceObjectTypeId":"24","referenceObjectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":4},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:265","id":"265","name":"Placeholder","displayName":"Additional information","label":false,"defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":5}],"objectTypeIsInherited":false,"abstractObjectType":false,"totalFilterCount":1,"startIndex":1,"toIndex":1,"pageObjectSize":25,"pageNumber":1,"orderWay":"ascending","iql":"objectType = Office AND Name LIKE SYD","iqlSearchResult":true,"conversionPossible":false,"pageSize":1},"attributes parameter to false":{"objectEntries":[{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:88","id":"88","label":"SYD-1","objectKey":"ITSM-88","avatar":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=288","objectId":"88","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:23","id":"23","name":"Office","displayName":"Office","description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ex.","icon":{"id":"13","name":"Building","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/23/icon.png?size=48"},"position":2,"created":"2021-02-16T19:36:51.951Z","updated":"2021-04-16T15:17:03.384Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:41.527Z","updated":"2021-02-16T20:04:41.527Z","hasAvatar":false,"timestamp":1613505881527,"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/88"},"name":"SYD-1"}],"objectTypeAttributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:134","id":"134","name":"Key","displayName":"Key","label":false,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:135","id":"135","name":"Name","displayName":"Name","label":true,"description":"The name of the object","defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"suffix":"","removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":true,"regexValidation":"","options":"","position":1},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:136","id":"136","name":"Created","displayName":"Created","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":2},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:137","id":"137","name":"Updated","displayName":"Updated","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":3},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:144","id":"144","name":"City","displayName":"Office location","label":false,"referenceType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:4","id":"4","name":"Reference","displayName":"Reference","description":"Reference","color":"49a6ed","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/config/referencetype/4/image.png?size=16"},"referenceObjectTypeId":"24","referenceObjectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":4},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:265","id":"265","name":"Placeholder","displayName":"Additional information","label":false,"defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":5}],"objectTypeIsInherited":false,"abstractObjectType":false,"totalFilterCount":1,"startIndex":1,"toIndex":1,"pageObjectSize":25,"pageNumber":1,"orderWay":"ascending","iql":"objectType = Office AND Name LIKE SYD","iqlSearchResult":true,"conversionPossible":false,"pageSize":1},"no results":{"objectEntries":[],"objectTypeAttributes":[],"objectTypeIsInherited":false,"abstractObjectType":false,"totalFilterCount":0,"startIndex":1,"toIndex":0,"pageObjectSize":25,"pageNumber":1,"orderWay":"ascending","iql":"objectType = Office AND Name LIKE NY","iqlSearchResult":true,"conversionPossible":false,"pageSize":0}},"schema":{"$ref":"#/components/schemas/ObjectListResult"}}}},"400":{"$ref":"#/components/responses/trait_badRequest_400"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"429":{"$ref":"#/components/responses/trait_rateLimit500PerMinute_429"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"This endpoint is deprecated and will be removed on <b>18th of September 2024</b>. Please use POST `/object/aql` instead.","operationId":"IQL - Find objects","x-atlassian-data-security-policy":[{"app-access-rule-exempt":false}],"parameters":[{"name":"iql","in":"query","description":"The query to determine which objects that should be fetched. E.g. objectType = \"Computer\". The empty AQL means all objects","schema":{"default":"","type":"string"}},{"name":"page","in":"query","description":"Which page to fetch when paginating through the response","schema":{"default":1,"type":"integer"}},{"name":"resultPerPage","in":"query","description":"The amount of objects returned per page","schema":{"default":25,"type":"integer"}},{"name":"includeAttributes","in":"query","description":"Should the objects attributes be included in the response. If this parameter is false only the information on the object will be returned and the object attributes will not be present","schema":{"default":true,"type":"boolean"}},{"name":"includeAttributesDeep","in":"query","description":"How many levels of attributes should be included. E.g. consider an object A that has a reference to object B that has a reference to object C. If object A is included in the response and includeAttributesDeep=1 object A's reference to object B will be included in the attributes of object A but object B's reference to object C will not be included. However if the includeAttributesDeep=2 then object B's reference to object C will be included in object B's attributes","schema":{"default":1,"type":"integer"}},{"name":"includeTypeAttributes","in":"query","description":"Should the response include the object type attribute definition for each attribute that is returned with the objects","schema":{"default":false,"type":"boolean"}},{"name":"includeExtendedInfo","in":"query","description":"Include information about open Jira issues. Should each object have information if open tickets are connected to the object?","schema":{"default":false,"type":"boolean"}}]}},"/object/{id}":{"get":{"responses":{"200":{"description":"","content":{"application/json":{"example":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:88","id":"88","label":"SYD-1","objectKey":"ITSM-88","avatar":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=288","objectId":"88","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:23","id":"23","name":"Office","displayName":"Office","description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ex.","icon":{"id":"13","name":"Building","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=48"},"position":2,"created":"2021-02-16T19:36:51.951Z","updated":"2021-04-16T15:17:03.384Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:41.527Z","updated":"2021-02-16T20:04:41.527Z","hasAvatar":false,"timestamp":1613505881527,"attributes":[{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:637","id":"637","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:134","id":"134","name":"Key","displayName":"Key","label":false,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},"objectTypeAttributeId":"134","objectAttributeValues":[{"value":"ITSM-88","displayValue":"ITSM-88","searchValue":"ITSM-88","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:640","id":"640","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:135","id":"135","name":"Name","displayName":"Name","label":true,"description":"The name of the object","defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"suffix":"","removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":true,"regexValidation":"","options":"","position":1},"objectTypeAttributeId":"135","objectAttributeValues":[{"value":"SYD-1","displayValue":"SYD-1","searchValue":"SYD-1","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:638","id":"638","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:136","id":"136","name":"Created","displayName":"Created","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":2},"objectTypeAttributeId":"136","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:639","id":"639","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:137","id":"137","name":"Updated","displayName":"Updated","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":3},"objectTypeAttributeId":"137","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:641","id":"641","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:144","id":"144","name":"City","displayName":"Office location","label":false,"referenceType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:4","id":"4","name":"Reference","displayName":"Reference","description":"Reference","color":"49a6ed","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/config/referencetype/4/image.png?size=16"},"referenceObjectTypeId":"24","referenceObjectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","displayName":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":4},"objectTypeAttributeId":"144","objectAttributeValues":[{"referencedObject":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:87","id":"87","label":"Sydney","objectKey":"ITSM-87","avatar":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=288","objectId":"87","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:26.445Z","updated":"2021-02-16T20:04:26.445Z","hasAvatar":false,"timestamp":1613505866445,"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/87"},"name":"Sydney"},"displayValue":"Sydney","searchValue":"ITSM-87","referencedType":true}],"objectId":"88"}],"extendedInfo":{"openIssuesExists":false,"attachmentsExists":false},"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/88"},"name":"SYD-1"},"schema":{"$ref":"#/components/schemas/Object"}}}},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"429":{"$ref":"#/components/responses/trait_rateLimit2000PerMinute_429"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Load one object","security":[{"oAuthDefinitions":["read:cmdb-object:jira"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["read:cmdb-object:jira"]}],"operationId":"Object - Find","x-atlassian-data-security-policy":[{"app-access-rule-exempt":false}]},"put":{"responses":{"200":{"description":"The updated object","content":{"application/json":{"example":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:88","id":"88","label":"SYD-1","objectKey":"ITSM-88","avatar":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=288","objectId":"88","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:23","id":"23","name":"Office","displayName":"Office","description":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec ex.","icon":{"id":"13","name":"Building","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/g2778e1d-939d-581d-c8e2-9d5g59de456b/v1/objecttype/23/icon.png?size=48"},"position":2,"created":"2021-02-16T19:36:51.951Z","updated":"2021-04-16T15:17:03.384Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:41.527Z","updated":"2021-02-16T20:04:41.527Z","hasAvatar":false,"timestamp":1613505881527,"attributes":[{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:637","id":"637","objectTypeAttribute":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:134","id":"134","name":"Key","displayName":"Key","label":false,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},"objectTypeAttributeId":"134","objectAttributeValues":[{"value":"ITSM-88","displayValue":"ITSM-88","searchValue":"ITSM-88","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:640","id":"640","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:135","id":"135","name":"Name","displayName":"Name","label":true,"description":"The name of the object","defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"suffix":"","removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":true,"regexValidation":"","options":"","position":1},"objectTypeAttributeId":"135","objectAttributeValues":[{"value":"SYD-1","displayValue":"SYD-1","searchValue":"SYD-1","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:638","id":"638","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:136","id":"136","name":"Created","displayName":"Created","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":2},"objectTypeAttributeId":"136","objectAttributeValues":[{"value":"2021-02-16T20:04:41.527Z","displayValue":"16/Feb/21 8:04 PM","searchValue":"2021-02-16T20:04:41.527Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:639","id":"639","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:137","id":"137","name":"Updated","displayName":"Updated","label":false,"defaultType":{"id":6,"name":"DateTime"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":3},"objectTypeAttributeId":"137","objectAttributeValues":[{"value":"2021-04-20T14:55:02.816Z","displayValue":"20/Apr/21 2:55 PM","searchValue":"2021-04-20T14:55:02.816Z","referencedType":false}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:641","id":"641","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:144","id":"144","name":"City","displayName":"Office location","label":false,"referenceType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:4","id":"4","name":"Reference","displayName":"Reference","description":"Reference","color":"49a6ed","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/config/referencetype/4/image.png?size=16"},"referenceObjectTypeId":"24","referenceObjectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","displayName":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":4},"objectTypeAttributeId":"144","objectAttributeValues":[{"referencedObject":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:87","id":"87","label":"Sydney","objectKey":"ITSM-87","avatar":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48","url72":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=72","url144":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=144","url288":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=288","objectId":"87","mediaClientConfig":{"clientId":"1a2s3d4f-dc47-44b0-9t0r-1h2h3yd68e9q","mediaBaseUrl":"https://api.media.atlassian.com","mediaJwtToken":"eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiIxYTJzM2Q0Zi1kYzQ3LTQ0YjAtOXQwci0xaDJoM3lkNjhlOXEiLCJhY2Nlc3MiOnsidXJuOmZpbGVzdG9yZTpmaWxlOjg0MTIzZXJ0LTEyM2MtNGIxMi0xMmM1LTBiODZkYzgxMjNmZiI6WyJyZWFkIl19LCJleHAiOjE2MjYxNTY1NjcsIm5iZiI6MTYyNjE1NTkwN30.YjicbagPLbzapp3eEZbCQ7Z9V8Uc0WeBledyTw-Qu0s","fileId":"84123ert-123c-4b12-12c5-0b86dc8123ff"}},"objectType":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:24","id":"24","name":"City","icon":{"id":"28","name":"Cottage","url16":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=16","url48":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/objecttype/24/icon.png?size=48"},"position":3,"created":"2021-02-16T19:58:45.698Z","updated":"2021-04-16T15:17:03.393Z","objectCount":0,"objectSchemaId":"6","inherited":false,"abstractObjectType":false,"parentObjectTypeInherited":false},"created":"2021-02-16T20:04:26.445Z","updated":"2021-02-16T20:04:26.445Z","hasAvatar":false,"timestamp":1613505866445,"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/87"},"name":"Sydney"},"displayValue":"Sydney","searchValue":"ITSM-87","referencedType":true}],"objectId":"88"},{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:44662","id":"44662","objectTypeAttribute":{"workspaceId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a","globalId":"f1668d0c-828c-470c-b7d1-8c4f48cd345a:265","id":"265","name":"Placeholder","displayName":"Additional information","label":false,"defaultType":{"id":0,"name":"Text"},"editable":true,"system":false,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":0,"maximumCardinality":1,"removable":true,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":5},"objectTypeAttributeId":"265","objectAttributeValues":[{"value":"A placeholder value","displayValue":"A placeholder value","searchValue":"A placeholder value","referencedType":false}],"objectId":"88"}],"_links":{"self":"https://api.atlassian.com/ex/jira/{cloudId}/jsm/assets/workspace/f1668d0c-828c-470c-b7d1-8c4f48cd345a/v1/object/88"},"name":"SYD-1"},"schema":{"$ref":"#/components/schemas/Object"}}}},"400":{"$ref":"#/components/responses/trait_badRequest_400"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Update an existing object in Assets","security":[{"oAuthDefinitions":["write:cmdb-object:jira"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["write:cmdb-object:jira"]}],"operationId":"Object - Update","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}],"requestBody":{"content":{"application/json":{"example":{"attributes":[{"objectTypeAttributeId":"265","objectAttributeValues":[{"value":"A placeholder value"}]}],"objectTypeId":"23","avatarUUID":"","hasAvatar":false},"schema":{"$ref":"#/components/schemas/ObjectIn"}}},"required":true}},"delete":{"responses":{"200":{"description":"Object deleted successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Object"}}}},"400":{"$ref":"#/components/responses/trait_badRequest_400"},"401":{"$ref":"#/components/responses/trait_requireAuthentication_401"},"404":{"$ref":"#/components/responses/trait_notFound_404"},"500":{"$ref":"#/components/responses/trait_internalServerError_500"}},"description":"Delete the referenced object","security":[{"oAuthDefinitions":["delete:cmdb-object:jira"]},{"connectJWT":[]}],"x-atlassian-oauth2-scopes":[{"scheme":"oAuthDefinitions","state":"Current","scopes":["delete:cmdb-object:jira"]}],"operationId":"Object - Delete","x-atlassian-data-security-policy":[{"app-access-rule-exempt":true}]},"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"},"description":"The object id to operate on"}]},"/object/{id}/attributes":{"get":{"responses":{"200":{"description":"","content":{"application/json":{"schema":{"example":[{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:637","id":"637","objectTypeAttribute":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:134","id":"134","name":"Key","displayName":"Key","label":false,"type":0,"defaultType":{"id":0,"name":"Text"},"editable":false,"system":true,"sortable":true,"summable":false,"indexed":true,"minimumCardinality":1,"maximumCardinality":1,"removable":false,"hidden":false,"includeChildObjectTypes":false,"uniqueAttribute":false,"options":"","position":0},"objectTypeAttributeId":"134","objectAttributeValues":[{"value":"ITSM-88","displayValue":"ITSM-88","searchValue":"ITSM-88","referencedType":false}],"objectId":"88"},{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g59de456b","globalId":"g2778e1d-939d-581d-c8e2-9d5g59de456b:640","id":"640","objectTypeAttribute":{"workspaceId":"g2778e1d-939d-581d-c8e2-9d5g
[...]
